---
layout: base.liquid
---

<article id="{{ eleventyNavigation.key | downcase | replace: " ", "-" }}">
    <h1 class="font-bold leading-4 py-3 px-4 mb-8 bg-stone-400">{{ title }}</h1>
    {{ content }}
</article>