---
layout: page.liquid
title: Contact
description: David Goslin
eleventyNavigation:
  key: Contact
  order: 7
---

<div class="grid grid-cols-2 gap-8 items-center px-4">
    <img class="w-full h-auto" src="/img/temp/david-goslin-gallery-a.jpg" alt="David Goslin Color Paintings" width="200" height="200">
    <div class="text-center">
        <p>David Goslin</p>
        <div>
            35 Sundew Road<br>
            Savannah, GA 31411
        </div>
        <p><a href="tel:+19122396165">912-239-6165</a></p>
        <p><a href="mailto:dagoslin1@gmail.com">dagoslin1@gmail.com</a></p>
    </div>
</div>