---
layout: page.liquid
title: Exhibitions
description: David Goslin
eleventyNavigation:
  key: Exhibitions
  order: 4
---

<ul class="divide-y divide-stone-400">
    <li class="pb-8 px-4">
        <figure class="grid grid-cols-[1fr_1fr] md:grid-cols-[1fr_2fr] gap-x-4">
            <img class="w-full h-auto" src="/img/exhibitions/venue--national-academy-of-sciences.jpg" alt="" width="500" height="375">
            <figcaption>Main Gallery, National Academy of Sciences; Washington, DC. June-July, 1982</figcaption>
        </figure>
    </li>

    <li class="py-8 px-4">
        <figure class="grid grid-cols-[1fr_1fr] md:grid-cols-[1fr_2fr] gap-x-4">
            <img class="w-full h-auto" src="/img/exhibitions/venue--mk-ciurlionis-museum.jpg" alt="" width="189" height="106">
            <figcaption>Mykolas Zilinskas Gallery, M.K. Ciurlionis National Art Museum; Kaunas, Lithuania. July–August, 2009
                with other Gallery A artists</figcaption>
        </figure>
    </li>

    <li class="py-8 px-4">
        <figure class="grid grid-cols-[1fr_1fr] md:grid-cols-[1fr_2fr] gap-x-4">
            <img class="w-full h-auto" src="/img/exhibitions/venue--gallery-a--alex-gallery.jpg" alt="" width="189" height="139">
            <figcaption>Gallery A, Alex Gallery; Washington, D.C. December 1, 2009–February 30, 2010</figcaption>
        </figure>
    </li>

    <li class="py-8 px-4">
        <figure class="grid grid-cols-[1fr_1fr] md:grid-cols-[1fr_2fr] gap-x-4">
            <img class="w-full h-auto" src="/img/new-work/david-goslin-150-38x40-2011.jpg" alt="" width="380" height="400">
            <figcaption>
                <p>Gallery A, Alex Gallery; Washington, D.C. May 3–31, 2011</p>
                <a href="http://dupontcirclearts.blogspot.com/2011/04/coming-soon-david-goslin-at-gallery.html">David Goslin at Gallery A</a>
            </figcaption>
        </figure>
    </li>

    <li class="py-8 px-4">
        <figure class="grid grid-cols-[1fr_1fr] md:grid-cols-[1fr_2fr] gap-x-4">
            <span></span>
            <figcaption>Gallerie Viecelles; St. Tropez, France. August 20–31, 2011 with other Gallery A artists</figcaption>
        </figure>
    </li>

    <li class="py-8 px-4">
        <figure class="grid grid-cols-[1fr_1fr] md:grid-cols-[1fr_2fr] gap-x-4">
            <span></span>
            <figcaption>Gallery A, Alex Gallery; Washington, DC. May 2012</figcaption>
        </figure>
    </li>

    <li class="py-8 px-4">
        <figure class="grid grid-cols-[1fr_1fr] md:grid-cols-[1fr_2fr] gap-x-4">
            <img class="w-full h-auto" src="/img/exhibitions/david-goslin-exhibit--assisinarte_2012.jpg" alt="" width="600" height="800">
            <figcaption>6 Artisti Americani. Assisinarte; Assissi, Italy. September 6–30, 2012</figcaption>
        </figure>
    </li>

    <li class="py-8 px-4">
        <figure class="grid grid-cols-[1fr_1fr] md:grid-cols-[1fr_2fr] gap-x-4">
            <span></span>
            <figcaption>Gallerie Viecelles; Paris, Marais District, France. August 1–15, 2012 with other Gallery A artists</figcaption>
        </figure>
    </li>

    <li class="py-8 px-4">
        <figure class="grid grid-cols-[1fr_1fr] md:grid-cols-[1fr_2fr] gap-x-4">
            <span></span>
            <figcaption>Strictly Painting 9. McLean Project for the Arts; McLean, Virginia. June 13–August 3, 2013</figcaption>
        </figure>
    </li>
</ul>