---
layout: page.liquid
title: Links
description: David Goslin
eleventyNavigation:
  key: Links
  order: 8
---


<ul class="grid grid-cols-2 md:grid-cols-3 gap-4 px-4">
    <li class="bg-stone-200 p-4">
        <figure>
            <a href="http://www.alexgalleries.com/" target="_blank">
                <img src="/img/links/david-goslin-links--alex-galleries.jpg" alt="Alex Galleries in Washington, DC" width="480" height="360">
                <figcaption class="text-center pt-2">Alex Galleries</figcaption>
            </a>
        </figure>
    </li>
    <li class="bg-stone-200 p-4">
        <figure>
            <a href="https://en.wikipedia.org/wiki/Washington_Color_School" target="_blank">
                <img src="/img/links/david-goslin-links--kenneth-noland.jpg" alt="Bridge by Kenneth Noland" width="480" height="360">
                <figcaption class="text-center pt-2">Washington Color School</figcaption>
            </a>
        </figure>
    </li>
    <li class="bg-stone-200 p-4">
        <figure>
            <a href="https://en.wikipedia.org/wiki/Gene_Davis_%28painter%29" target="_blank">
                <img src="/img/links/david-goslin-links--gene-davis.jpg" alt="Sun Sonata by Gene Davis" width="480" height="360">
                <figcaption class="text-center pt-2">Gene Davis</figcaption>
            </a>
        </figure>
    </li>
    <li class="bg-stone-200 p-4">
        <figure>
            <a href="https://en.wikipedia.org/wiki/Morris_Louis" target="_blank">
                <img src="/img/links/david-goslin-links--morris-louis.jpg" alt="Morris Louis" width="480" height="360">
                <figcaption class="text-center pt-2">Morris Louis</figcaption>
            </a>
        </figure>
    </li>
    <li class="bg-stone-200 p-4">
        <figure>
            <a href="https://en.wikipedia.org/wiki/Sean_Scully" target="_blank">
                <img src="/img/links/david-goslin-links--sean-scully.jpg" alt="Raval Rojo by Sean Scully" width="480" height="360">
                <figcaption class="text-center pt-2">Sean Scully</figcaption>
            </a>
        </figure>
    </li>
    <li class="bg-stone-200 p-4">
        <figure>
            <a href="https://en.wikipedia.org/wiki/Color_Field" target="_blank">
                <img src="/img/links/david-goslin-links--robert-motherwell.jpg" alt="Elegy to the Spanish Republic No. 110 by Robert Motherwell" width="480" height="360">
                <figcaption class="text-center pt-2">Color Field Painting</figcaption>
            </a>
        </figure>
    </li>
</ul>